/*
------------------------------------------------------------
 Report Engine CSS
 Version : 3.0.0
 Unit    : mm
------------------------------------------------------------
*/
@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */




html, body{
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}



.report-container {

    width: 100%;

}

.report-page {

/* margin: auto;  جدول وسط قرار می گیرد */
margin: auto;

/*font-family:var(--report-font);*/
/*
font-size:var(--report-font-size);

line-height:var(--report-line-height);*/

    position:relative;

    box-sizing:border-box;

    page-break-after:always;

    overflow:hidden;

    background:white;

}

.header-column:nth-child(2){

    text-align:center;

}



 .header-column:nth-child(3){


    text-align:left;


} 

.report-table {

    width:100%;

    border-collapse:collapse;

    table-layout:fixed;

}

.report-table th {


    border:0.7mm solid #000;

    background-color: gainsboro;
    /*padding-top:0.3mm;
    padding-bottom:0.5mm;*/


    vertical-align:top;

    /*text-align : left;*/
    word-break:break-word;


}

.report-table td {


    border:0.2mm solid #000;


    padding:1mm;


    vertical-align:top;

/* text-align: center; */
    word-break:break-word;


}




.report-table tr {


    page-break-inside:avoid;


}



.report-footer {
    display:flex;
    justify-content:space-around;
}

/* هر Section */

.header-section{

   width:100%;

    /*display:flex;

    box-sizing:border-box;*/

}

.report-header{

    position:absolute;

    display:flex;

    flex-direction:column;

    width:100%;

    box-sizing:border-box;

}

.header-middle{

    display:flex;

    flex-direction:row;

    width:100%;

    align-items:center;

}

.header-right{

    flex:1;

    text-align:right;

}

.header-center{

    flex:1;

    text-align:center;

}

.header-left{

    flex:1;

    text-align:left;

}


.header-full{

    display:flex;

    width:100%;

    justify-content:center;

    align-items:center;

}

.header-full > *{

    width:100%;

    text-align:center;

}





/*
 Columns
*/

.header-text{
    margin:2px;
}

.header-center img{
    object-fit:contain;
}


/*------------------------------------------------------------
 Print
------------------------------------------------------------*/
@page {

    /* size: A4 landscape; */
    size: var(--page-size-model);
    margin: 0;

}

@media print {

    html,
    body {
     /*   background:white;*/
        padding-left: -20mm;
        /*padding-right: 2mm;*/
    }

    .toolbar {
        display:none !important;
    }

    .re-page {

        margin:0;


        border:none;


        box-shadow:none;


    }

    .report-table-container{

        position:absolute;

        box-sizing:border-box;

    }



    .re-table tr {


        break-inside:avoid;


        page-break-inside:avoid;


    }
 

    }